nav.navbar.navbar-expand-md.navbar-light.bg-light {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  float: left;
  z-index: 1;
}

.main {
  margin-top: 55px;
}