nav.navbar.navbar-expand-md.navbar-light.bg-light {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  float: left;
  z-index: 1;
}
.bg-gradient-secondary.font-card.card-img-overlay {
  background: #13101075;
}

h5.bg-gradient-secondary.display-4.text-white.font-weight-bold.card-title {
  font-size: 41px;
}